html {
}

body {
	margin: 0px;
	background-image: url(../images/background_opaque.png);
	background-size: cover;
}

header .container {
	background-color: #f2f20d;
	position: relative;
	border-radius: 10px;
}

#logo {
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../images/logo_lg.png);
	background-size: contain;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

h1 {
	font-family: "Bree Serif", Arial, sans-serif;
	font-style: italic;
	text-align: center;
	margin: 0px 0px 0px 0px;
	color: #4d4d4d;
}

#fb-page {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-family: "Bree Serif", Arial, sans-serif;
}

.fa-facebook {
	position: relative;
	background: #3B5998;
	color: white;
	text-align: right;
	text-decoration: none;
	width: 25px;
	height: 25px;
	margin: 0px 0px 0px 0px;
	border-radius: 5px;
}

.fa-facebook:before {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 20px;
	margin-right: 3px;
}

.fa-facebook:hover {
	text-decoration: none;
	color: white;
}

.affirmation button {
	height: 50px;
	padding: 5px;
	margin-top: 25px;
	font-family: "Bree Serif", Arial, sans-serif;
	border-radius: 30px;
	background: #f2f20d;
	background: linear-gradient(#f2f20d, #00b300);
}

#aff-text {
	position: relative;
	font-family: 'Indie Flower', Arial, sans-serif;
	font-size: 2.5em;
	color: #00b300;
	width: 100%;
	height: auto;
	margin-top: 50px;
	text-align: center;
}

textarea {
	width: 100%;
	border-radius: 50px;
	text-align: center;
	resize: none;
}

input {
	position: absolute;
	top: 0px;
	right: 0px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-family: "Bree Serif", Arial, sans-serif;
	color: black;
	background: #f2f20d;
	background: linear-gradient(#f2f20d, #00b300);
}

/************ Large **************/
@media (min-width: 1200px) {
	h1 {
		font-size: 3.5em;
		height: 160px;
		padding-top: 50px;
	}

	#logo {
		width: 137px;
		height: 160px;
	}
}

/************ Medium **************/
@media (min-width: 992px) and (max-width: 1199px) {
	h1 {
		font-size: 2.5em;
		height: 120px;
		padding-top: 37px;
	}

	#logo {
		width: 103px;
		height: 120px;
	}

}


/************ Small **************/
@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 2em;
		height: 80px;
		padding-top: 25px;
	}
	#logo {
		width: 68px;
		height: 80px;
	}
}


/************ Extra-small **************/
@media (max-width: 767px) {
	h1 {
		font-size: 1.5em;
		height: 48px;
		padding-top: 15px;
	}
	
	#logo {
		width: 41px;
		height: 48px;
	}
	.fa-facebook {
		width: 20px;
		height: 20px;
		border-radius: 4px;
	}
	.fa-facebook:before {
		font-size: 16px;
		margin-right: 2px;
	}
	
	textarea {
		width: 100%;
		border-radius: 50px;
		text-align: center;
		resize: none;
	}

	input {
		position: relative;
		border-radius: 50px;
		font-family: "Bree Serif", Arial, sans-serif;
		color: black;
	}

}

